.headerMain {
    position:fixed;
    top: 0;
    z-index: 100;
    width:100%;
    height: 70px;
    background-color: white;
    opacity: 0.7;
}


.empty {
    height: 25px;
    }

body {
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 100px;
    font-family: 'PT Sans', sans-serif;
    font-size: 23px;
    font-stretch: ultra-expanded;
    line-height: 1.8;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-style:oblique;
}

.avatar {
    border-image:round;
    border-radius: 100px;
    }

.image {
text-align: center;
}

.text {
    font-family: 'Source Serif Pro', serif;
}

.line {
    border-left:solid 5px black;
    padding: 15px;
    }

footer {
    background-image: url("images_for_article/background.jpg");

}

.copyright {
    color: white;
    margin-left: 350px;
   }

TABLE {
    width: 300px;
    border-collapse: collapse; }
TD, TH {
    padding: 13px;
    border: 1px solid black;
    }
TH {
    background: bisque;
}


